<nav class="navbar navbar-light bg-light">
    <h1 style="margin-left:5%;"> WELCOME </h1>
    <h2> To </h2>
    <h2 style="margin-right:5%;"> GitSearcHub</h2>
    <form class="container-fluid justify-content-start">
        <button class="btn btn-outline-success me-2" routerLink="" routerLinkActive="active"> Home </button>
      <button class="btn btn-lg btn-outline-success" style="margin-left:40%;width:auto;margin-top:1.5%;margin-bottom:1.5%;" routerLink="/search" routerLinkActive="active">
        <!-- <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"> -->
         Search Github
      </button>
    </form>
</nav>